<div class="top-menu">
  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>
<div class="courses">
  @for(item of CourseLst;track item.id)
  {
  <course-card [dataFromParent]="item"></course-card>
  }
</div>



<!--for practice-->
<!-- <div class="row">
  <div class="col-lg-6">
    <course-card></course-card>
  </div>
  <div class="col-lg-6">
    <student></student>
  </div>
</div> -->
<!-- @if(false)
{
   <course-card></course-card>
}
@else {
  <student></student>
} -->